{% extends 'main/base.html' %}

{% block content  %}
  {% load static %}
  <div class="shadow p-2 mb-5 bg-dark text-white rounded">
    <div  class="text-center">
      <h1> Welcome to Trickster! </h1>
      <h2> The Ultimate Wakeboarding Guide!</h2>
      <p class="text-muted">Warning - Trickster is still currently in development! Please be patient and report any bugs to kona. Thanks!</p>    
    </div>
  </div>
  
  <div class="shadow p-2 mb-2 bg-dark text-white rounded">
    <div  class="text-center">
      <h2>Get started!</h2>    
    </div>
  </div>
  <div class="shadow  p-4 mb-5 bg-body rounded">
    <div class="container-md">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-3 g-3">

        <!--Trick Database Card-->
        <div class="col-sm">
          <div class="card text-bg-dark mb-3 mx-auto" style="height: 32rem;">
            <img src="{% static 'trickster/images/BacksideIndyGrab.png' %}" class="img-fluid rounded" alt="trick cover image">
            <div class="card-body">
              <h4>Trick Database</h4>
              <p class="card-text">Tricksters Trick Database is compiled of hundreds of differnt wakeboarding tricks for both Cable and Boat riders.</p>
              <p class="card-text">Each with their step by step guide helping you elevate your wakeboarding!</p>
            </div>
            <div class="card-body-dark text-center gap-3" style="height: 3rem">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <a href="{%url 'trick-list'%}" class="btn btn-outline-info btn-sm">Take Me There</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Get Skill Level Card style="width: 20rem; height: 32rem;"-->

        {% if request.user.user_profile.completed_skill_quiz %}
          <div class="col-sm">
            <div class="card text-bg-dark mb-3 mx-auto" style="height: 32rem;">
              <img src="{% static 'trickster/images/Wipe_Out.jpg' %}" class="img-fluid rounded" alt="trick cover image">
              <div class="card-body">
                <h4>View Your Skill Level</h4>
                <p class="card-text">Trickster prides itself on helping wakeboarders progress! This is why we developed the Skill Level system.</p>
                <p class="card-text">Take our short quiz and mark off some tricks you already know. This lets us gauge your level and reccomend you the next steps to take!</p>
              </div>
              <div class="card-body-dark text-center gap-3" style="height: 3rem">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <a href="" class="btn btn-outline-info btn-sm">View My Skill Level</a>                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% else %}
          <div class="col-sm">
            <div class="card text-bg-dark mb-3 mx-auto" style="height: 32rem;">
              <img src="{% static 'trickster/images/My_Skill_Level.jpg' %}" class="img-fluid rounded" alt="trick cover image">
              <div class="card-body">
                <h4>Get Your Skill Level</h4>
                <p class="card-text">Trickster prides itself on helping wakeboarders progress! This is why we developed the Skill Level system.</p>
                <p class="card-text">Take our short quiz and mark off some tricks you already know. This lets us gauge your level and reccomend you the next steps to take!</p>
              </div>
              <div class="card-body-dark text-center gap-3" style="height: 3rem">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      {% if request.user.is_authenticated %}
                        <a href="{%url 'skill-level-quiz' %}" class="btn btn-outline-info btn-sm">Get My Skill Level</a>
                      {% else %}
                        <a href="{%url 'login'%}" class="btn btn-outline-info btn-sm">Get My Skill Level</a>
                      {% endif %}
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}

        <!--Skill Programmes Card-->
        <div class="col-sm">
          <div class="card text-bg-dark mb-3 mx-auto" style="height: 32rem;">
            <img src="{% static 'trickster/images/Zero_to_Hero.jpg' %}" class="img-fluid rounded" alt="trick cover image">
            <div class="card-body">
              <h4>Trickster Programmes</h4>
              <p class="card-text">Tricksters Skill Programmes are step by step guides on how to elevate your Wakeboarding to the next level! </p>
              <p class="card-text">Check out the PRO-grammes such as David OC's 'Zero to Hero' Course amoung many others!</p>
            </div>
            <div class="card-body-dark text-center gap-3" style="height: 3rem">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <a href="{%url 'programme-list'%}" class="btn btn-outline-info btn-sm">Check Them Out</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="shadow p-2 mb-2 bg-dark text-white rounded">
    <div  class="text-center">
      <h2>Heres Some Tricks & Guides You Might Find Useful!</h2>    
    </div>
  </div>
  <div class="shadow p-4 mb-5 bg-body rounded">
    <div class="container-md">
      <div class="row">
        <div class="col-md-10 mx-auto">
          <div id="homeCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#homeCarousel" data-slide-to="1"></li>
              <li data-target="#homeCarousel" data-slide-to="2"></li>
            </ol>   
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="card text-bg-dark mb-3 mx-auto" style="width: 16rem; height: 27rem;">
                      <div class="img-box">
                        <img src="{{ beginners_guide.ProgrammeImg.url }}" class="img-fluid" alt="">
                      </div>
                      <div class="thumb-content">
                        <div class="card-body">
                          <h4>Beginners Guide</h4>
                          <p class="text-start">{{ beginners_guide.ProgrammeDiscription|truncatechars:220 }}</p>
                        </div>
                        <div class="card-footer-dark text-center gap-3" style="height: 3rem">
                          <div class="container">
                            <div class="row">
                              <div class="col-12">
                                <a href="{% url 'view-programme' beginners_guide.ProgrammeID %}" class="btn btn-outline-info btn-sm">View Programme</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>						
                  </div>
                  <div class="col-sm-6">
                    <div class="card text-bg-dark mb-3 mx-auto" style="width: 16rem; height: 27rem">
                      <div class="img-box">
                        <img src="{{ how_to_ollie.TrickImg.url }}" class="img-fluid" alt="">
                      </div>
                      <div class="thumb-content">
                        <div class="card-body">
                          <h4>How To Ollie</h4>
                          <p class="text-start">{{ how_to_ollie.TrickDiscription|truncatechars:220 }}</p>
                        </div>
                        <div class="card-footer-dark text-center gap-3" style="height: 3rem">
                          <div class="container">
                            <div class="row">
                              <div class="col-12">
                                <a href="{% url 'show-trick' how_to_ollie.TrickID %}" class="btn btn-outline-info btn-sm">Learn How</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>	
                    </div>				
                  </div>				
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-sm-6">                    
                    <div class="card text-bg-dark mb-3 mx-auto" style="width: 16rem; height: 27rem;">
                      <div class="img-box">
                        <img src="{{ zero_to_hero.ProgrammeImg.url }}" class="img-fluid" alt="">
                      </div>
                      <div class="thumb-content">
                        <div class="card-body">
                          <h4>Zero to Hero</h4>
                          <p class="text-start">{{ zero_to_hero.ProgrammeDiscription|truncatechars:220 }}</p>
                          <br>
                        </div>
                        <div class="card-footer-dark text-center gap-3" style="height: 3rem">
                          <div class="container">
                            <div class="row">
                              <div class="col-12">
                                <a href="{% url 'view-programme' zero_to_hero.ProgrammeID %}" class="btn btn-outline-info btn-sm">View Programme</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>					                    
                  </div>
                  <div class="col-sm-6">
                    <div class="card text-bg-dark mb-3 mx-auto" style="width: 16rem; height: 27rem">
                      <div class="img-box">
                        <img src="{{ switch_riding.TrickImg.url }}" class="img-fluid" alt="">
                      </div>
                      <div class="thumb-content">
                        <div class="card-body">
                          <h4>Swith Riding</h4>
                          <p class="text-start">{{ switch_riding.TrickDiscription|truncatechars:220 }}</p>
                        </div>
                        <div class="card-footer-dark text-center gap-3" style="height: 3rem">
                          <div class="container">
                            <div class="row">
                              <div class="col-12">
                                <a href="{% url 'show-trick' switch_riding.TrickID %}" class="btn btn-outline-info btn-sm">Learn How</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>	
                    </div>					
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="card text-bg-dark mb-3 mx-auto" style="width: 16rem; height: 27rem;">
                      <div class="img-box">
                        <img src="{{ obstical_starter_kit.ProgrammeImg.url }}" class="img-fluid" alt="">
                      </div>
                      <div class="thumb-content">
                        <div class="card-body">
                          <h4>Obstical Starter Kit</h4>
                          <p class="text-start">{{ obstical_starter_kit.ProgrammeDiscription|truncatechars:160 }}</p>
                        </div>
                        <div class="card-footer-dark text-center gap-3" style="height: 3rem">
                          <div class="container">
                            <div class="row">
                              <div class="col-12">
                                <a href="{% url 'view-programme' obstical_starter_kit.ProgrammeID %}" class="btn btn-outline-info btn-sm">View Programme</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>					
                  </div>
                  <div class="col-sm-6">
                    <div class="card text-bg-dark mb-3 mx-auto" style="width: 16rem; height: 27rem;">
                      <div class="img-box">
                        <img src="{{ indy_grab.TrickImg.url }}" class="img-fluid" alt="">
                      </div>
                      <div class="thumb-content">
                        <div class="card-body">
                          <h4>Indy Grab</h4>
                          <p class="text-start">{{ indy_grab.TrickDiscription|truncatechars:220 }}</p>
                        </div>
                        <div class="card-footer-dark text-center gap-3" style="height: 3rem">
                          <div class="container">
                            <div class="row">
                              <div class="col-12">
                                <a href="{% url 'show-trick' indy_grab.TrickID %}" class="btn btn-outline-info btn-sm">Learn How</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>						
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control-prev" href="#homeCarousel" data-slide="prev">
              <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#homeCarousel" data-slide="next">
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}