{% extends 'main/base.html' %}
{% load static %}

{% block content  %}
{% if user.is_authenticated %}
  {% if random_trick %}
    <div class="shadow p-2 mb-2 bg-dark text-white rounded">
      <div class="text-center">
        <h2>Your Random Trick:</h2>  
        <h5>From Your Learned Tricks</h5> 
        <p class="text-muted">- Remember to only try tricks you feel ready for and always wear proper safety equiptment!</p>    
      </div>
    </div>
    <div class="shadow p-4 mb-2 bg-white text-dark rounded">
      {% include 'components/trick_cards.html' with trick=random_trick user=request.user %}
      <form class="text-center" method="POST" action="{% url 'random-trick-learned' request.user.UserID %}">
        {% csrf_token %}
        <input type="hidden" name="randomise" value="randomise"> 
        <button class="btn btn-info" value="" type="submit">Randomise Again!</button>
      </form>
    </div>
  {% else %}
    <div class="shadow p-2 mb-2 bg-dark text-white rounded">
      <div  class="text-center">
        <h2>Get A Random Trick:</h2> 
        <h5>From Your Learned Tricks</h5> 
        <p class="text-muted">- Remember to only try tricks you feel ready for and always wear proper safety equiptment!</p>    
      </div>
    </div>
    <div class="shadow p-4 mb-2 bg-white text-dark rounded">
      <div class="col-sm">
        <div class="card text-bg-dark mb-3 mx-auto" style="width: 18rem; height: 33rem;">
          <img src="{% static 'trickster/images/TrickListDefault.png' %}" class="img-fluid rounded" alt="default trick cover image">
          <div class="card-body">
            <h5 class="card-title">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    Random Trick
                  </div>
                </div>
              </div>
            </h5>
            <p class="card-text">Random Trick Description...</p>
          </div>
          <ul class="list-group-dark list-group-flush">
            <li class="list-group-item">Recommended Level: ?</li>
            <li class="list-group-item">Trick Difficulty: ?</li>
          </ul>
          <div class="card-body-dark text-center gap-3" style="height: 3rem">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <p class="text-muted text-decoration-underline">Learn How</p>
                </div>
                <div class="col-6">
                  <a class="btn btn-primary disabled btn-sm">Save Trick</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body-dark text-center gap-3" style="height: 3rem">
            <a class="btn btn-outline-info disabled btn-sm">Trick Learned</a>
          </div>
        </div>
      </div>
      <div class="p-2 mb-0 text-center">
        <form class="justify-content-center" method="POST" action="{% url 'random-trick-learned' request.user.UserID %}">
          {% csrf_token %}
          <input type="hidden" name="randomise" value="randomise"> 
          <button class="btn btn-info" value="" type="submit">Randomise!</button>
        </form>
      </div>
    </div>
  {% endif %}  
{% endif %}
{% endblock %}