{% extends 'main/base.html' %}
{% load static %}

{% block content  %}

  {% if profile %}
    <h1>Tricks Recommended For {{ profile.User }}:</h1>
    </br></br></br></br></br></br></br></br></br></br></br></br>
    <p>{{user_learned_tricks}}</p>
    <h1>Other Tricks In Your Current Skill Level:</h1>
    </br>
    <!-- I will aim to put this section of code into its own function as it's also used in search_trick & recommended Trick -->
    <div class="container-md">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-4">
        {% for trick in recommend_tricks %}
          {% include 'components/trick_cards.html' with trick=trick user=request.user %}
        {% endfor %}
      </div>
    </div>

  {% endif %}
{% endblock %}