{% extends 'main/base.html' %}
{% load static %}

{% block content  %}

  {% if trick_searched %}
    <h1>Tricks Found Under: {{ trick_searched }}</h1>
    </br>

    <div class="container-md">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-4">
        {% for trick in tricks %}
          <div class="col-sm">
            {% if user.is_authenticated %}
              <div class="card text-bg-dark mb-3" style="width: 18rem; height: 33rem;">
            {% else %}
              <div class="card text-bg-dark mb-3" style="width: 18rem; height: 30rem;">
            {% endif %}
              {% if trick.TrickImg %}
                <img src="{{ trick.TrickImg.url }}" class="img-fluid" alt="trick cover image">
              {% else %}    
                <img src="{% static 'trickster/images/TrickListDefault.png' %}" class="img-fluid" alt="default trick cover image">
              {% endif %}
              <div class="card-body">
                <h5 class="card-title">
                  {{ trick }} 
                  {% if user.is_superuser %}
                  <a href="{% url 'update-trick' trick.TrickID %}" class="btn btn-success btn-sm">Edit Trick</a>
                  {% endif %}
                </h5>
                <p class="card-text">{{ trick.TrickDiscription|truncatechars:180 }}</p>
              </div>
              <ul class="list-group-dark list-group-flush">
                <li class="list-group-item">Recommended Level: {{ trick.TrickRecLevel }}</li>
                <li class="list-group-item">Trick Difficulty: {{ trick.TrickDifficulty }}</li>
              </ul>
              <div class="card-body-dark text-center gap-3" style="height: 3rem">
                <a href="{% url 'show-trick' trick.TrickID %}" class="card-link me-md-4">Learn How</a>
                <a href="#" class="btn btn-primary">Save This Trick</a>
              </div>
              <!-- Trick Learned Button -->
              {% include 'components/learned_trick_button.html' with learned_tricks=request.user.user_profile.LearnedTricks user=request.user trick=trick %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

  {% else %}
    <h1>Nothing was searched for!</h1>
  {% endif %}
        
{% endblock %}