{% extends 'main/base.html' %}
{% load static %}

{% block content  %}

  {% if trick_searched %}
    <h1>Tricks Found Under: {{ trick_searched }}</h1>
    </br>

    <div class="container-md">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-4">
        {% for trick in tricks %}
          {% include 'components/trick_cards.html' with trick=trick user=request.user %}
        {% endfor %}
      </div>
    </div>

  {% else %}
    <h1>Nothing was searched for!</h1>
  {% endif %}
        
{% endblock %}