{% extends 'main/base.html' %}
{% load static %}

{% block content  %}
    <!--Move this styling to Static Sass File -->
    <style>   
        .imgContainer {
            max-width: 500px;
            max-height: 700px;
            overflow: hidden;
        }
        
        .imgContainer img {
            width: 100%;
            min-height: 100%;
        }
    </style>

    <div class="container-md">
        <div class="row">
            <div class="col-md-8">
                <div class="container">

                    <!--Trick content and information-->
                    <h1 class="display-6"><strong>How To {{ trick }}:</strong></h1>
                    <div class="imgContainer">
                    {% if trick.TrickImg %}
                        <img src="{{ trick.TrickImg.url }}" class="img-fluid rounded" alt="trick cover image">
                    {% else %}    
                        <img src="{% static 'trickster/images/TrickListDefault.png' %}" class="img-fluid rounded" alt="default trick cover image">
                    {% endif %}
                    </div></br>
                    <p class="h6">Trick Discription: </p>
                    <p>{{ trick.TrickDiscription|linebreaksbr }}</p>
                    <p class="h6">Trick How To: </p>
                    <p>{{ trick.TrickHowTo|linebreaksbr }}</p>
                    <dl class="row">
                        <dt class="col-sm-9">Trick Difficulty:</dt>
                        <dd class="col-sm-3">{{ trick.TrickDifficulty }}</dd>
                        <dt class="col-sm-9">Reccomended Level for this Trick:</dt>
                        <dd class="col-sm-3">{{ trick.TrickRecLevel }}</dd>                       
                    </dl>

                </div>
            </div>
            <!--Unsure of what will be displayed in the sidebar for now.-->
            <div class="col-md-3">
                Sidebar
            </div>
        </div>
    </div>

{% endblock %}
