{% extends 'main/base.html' %}

{% block content  %}

  <h1> Trickster Trick Database </h1>
  <br/>
  
  <div class="container-md">
    <div class="row">
{% for trick in trick_list %}

      <div class="col-sm">
        <div class="card text-bg-dark mb-3" style="width: 18rem; height: 30rem;">
          <img src="{{ trick.TrickImg.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ trick }}</h5>
            <p class="card-text">{{ trick.TrickDiscription }}</p>
          </div>
          <ul class="list-group-dark list-group-flush">
            <li class="list-group-item">Recommended Level: {{ trick.TrickRecLevel }}</li>
            <li class="list-group-item">Trick Difficulty: {{ trick.TrickDifficulty }}</li>
          </ul>
          <div class="card-body-dark gap-3">
            <a href="{% url 'show-trick' trick.TrickID %}" class="card-link me-md-4">Learn How</a>
            <a href="#" class="btn btn-primary">Save This Trick</a>
          </div>
        </div>
      </div>

{% endfor %}
    </div>
  </div>

{% endblock %}
