{% extends 'main/base.html' %}
{% load static %}

{% block content  %}

  <h1> Trickster Trick Database </h1>
  <br/>
  
  <!-- I will aim to put this section of code into its own function as it's also used in search_trick -->
  <div class="container-md">
    <div class="row">
      {% for trick in trick_list %}

        <div class="col-sm">

          <!-- Edit so if not admin view then height: 30rem;  -->
          <div class="card text-bg-dark mb-3" style="width: 18rem; height: 33rem;">
            {% if trick.TrickImg %}
              <img src="{{ trick.TrickImg.url }}" class="img-fluid" alt="trick cover image">
            {% else %}    
              <img src="{% static 'tricklist/images/TrickListDefault.png' %}" class="img-fluid" alt="default trick cover image">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ trick }}</h5>
              <p class="card-text">{{ trick.TrickDiscription|truncatechars:180 }}</p>
            </div>
            <ul class="list-group-dark list-group-flush">
              <li class="list-group-item">Recommended Level: {{ trick.TrickRecLevel }}</li>
              <li class="list-group-item">Trick Difficulty: {{ trick.TrickDifficulty }}</li>
            </ul>
            <div class="card-body-dark text-center gap-3" style="height: 3rem">
              <a href="{% url 'show-trick' trick.TrickID %}" class="card-link me-md-4">Learn How</a>
              <a href="#" class="btn btn-primary">Save This Trick</a>
            </div>

            <!-- Only if admin user then: -->
            <div class="card-body-dark text-center gap-3" style="height: 3rem">
              <a href="{% url 'update-trick' trick.TrickID %}" class="btn btn-success">Update Trick</a>
            </div>


          </div>
        </div>

      {% endfor %}
    </div>
  </div>
  <!-- -------------------------------------------------------------------------------------------- -->
{% endblock %}
