{% if user.is_authenticated %}
  <div class="card-body-dark text-center gap-3" style="height: 3rem">
    {% if trick in learned_tricks.all %}
      <form action="{% url 'unlearn-trick' request.user.UserID %}" method="POST">
        {%  csrf_token %}
        <button type="submit", name="trick_id", value="{{trick.TrickID}}", class="btn btn-outline-danger btn-sm">Unlearn Trick</button>
      </form>
    {% else %}
      <form action="{% url 'learned-trick' request.user.UserID %}" method="POST">
        {%  csrf_token %}
        <button type="submit", name="trick_id", value="{{trick.TrickID}}", class="btn btn-outline-info btn-sm">Trick Learned</button>
      </form>
    {% endif %}
  </div>
{% endif %}