{% extends 'main/base.html' %}
{% load static %}

{% block content  %}
{% if profile %}
<!--Try and fix in trickster.scss-->
<style>
  .text-underline-hover {
    text-decoration: none;
  }

  .text-underline-hover:hover {
      text-decoration: underline;
  }

  a:not([class]) {
      text-decoration: none;
  }

  a:not([class]):hover {
      text-decoration: underline;
  }
</style>

  <div class="container text-center">
    <div class="row">
      <div  class="col-8">
        <h1>{{ profile.User.FirstName }}'s Profile</h1>
        </br>
        {% if profile.ProfilePhoto %}
          <img 
          class="rounded-circle" 
          height="150" 
          src="{{ profile.ProfilePhoto.url }}" 
          alt="User Profile Image" 
          />
        {% else %}    
          <img 
          class="rounded-circle" 
          height="150" 
          src="{% static 'trickster/images/ProfileImgDefault.png' %}" 
          alt="Default User Profile Image" 
          />
        {% endif %}
        </br></br>
        <h3>Skill Level: {{ profile.SkillLevel }}</h3>
        <h3>Mastery Level: {{ profile.UserDifficultyLevel }}</h3>
        </br>
        <h3>Mastery Progress: 40%</h3>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width: 40%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

      <div class="col-4">
        <div class="card text-white bg-dark">
          <div class="card-header">
            {{ profile.User.FirstName }}'s Learned Tricks:
          </div>
          <div class="card-body">
            <p class="card-text">Total Tricks Learned: {{ profile.LearnedTricks.all.count }}</p>
            <p class="card-text">
              {% for trick in profile.LearnedTricks.all %}
                <a class="text-light text-underline-hover" href="{% url 'show-trick' trick.TrickID %}"> {{ trick.TrickName }}</br>
              {% endfor %}
            </p>
            <a href="{%url 'my-tricks' request.user.UserID %}" class="btn btn-primary">All {{ profile.User.FirstName }}'s Tricks</a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endif %}
{% endblock %}