{% extends 'main/base.html' %}
{% load static %}

{% block content  %}
{% if profile %}

  <div class="container text-center">
    <div class="row">
      <div  class="col-8">
        <h1>{{ profile.User.FirstName }}'s Profile</h1>
        </br>
      </div>
      <div class="col-4">
        <div class="card text-white bg-dark">
          <div class="card-header">
            Tricks Learned:
          </div>
          <div class="card-body">

            <p class="card-text">
              {% for trick in profile.LearnedTricks.all %}
                <a href="{% url 'show-trick' trick.TrickID %}"> {{ trick.TrickName }}</br>
              {% endfor %}

            </p>
            <a href="{%url 'trick-list'%}" class="btn btn-primary">All Tricks</a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endif %}
{% endblock %}