{% extends 'main/base.html' %}

{% block content  %}
  <div class="shadow  p-4 mb-5 bg-body rounded">

    <h1> Login </h1>
    <br/><br/>

    <form action="" method=POST enctype="multipart/form-data"> 
      {% csrf_token %}
      {% for feild in user_login %}
        <p>
          {{ feild.label_tag }}
          {{ feild}}

          {% if feild.help_text %}
            <small style="color: grey">{{ feild.help_text }}</small>
          {% endif %}

          {% for errors in field.errors %}
            <p style="color: red">{{ feild.errors }}</p>
          {% endfor %}

          {% if user_login.non_feild_errors %}
            <div style="color:red";>
              <p>{{ user_login.non_feild_errors }}</p>
            </div>
          {% endif %}
        </p>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <!-- <form action="" method=POST enctype="multipart/form-data">
      {% csrf_token %}

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" name="email">
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
      </div>

      <input type="submit" value="Submit" class="btn btn-primary">

    </form> -->
  </div>
{% endblock %}